#container {
    display: flex;
    padding: 0.5em;
}
div:focus {
    outline: 0;
}
#search {
    font-family: 'Courier New', Courier, monospace;
    width: 20em;
    padding: 0.5em 1em;
    white-space: nowrap;
    overflow: hidden;
}
#count {
    width: 8em;
    padding: 1em;
    font-size: 0.75em;
}
#flag_i {
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
}
#flag_i:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
#flag_i[data-select="true"] {
    background-color: #cccccc;
    border-radius: 1.25em;
}
#flag_i[data-select="true"]:focus {
    background-color: #aaaaaa;
    border-radius: 0.2em;
}
.chevron {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
}
.chevron:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
