#container {
    display: flex;
    padding: 0.5em;
}
*:focus {
    outline: 0;
}
#search_wrapper {
    display: flex;
    width: 320px;
}
#search {
    font-family: 'Courier New', Courier, monospace;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
}
#count {
    padding: 1em 2em 0 0;
    font-size: 0.75em;
    text-align: right;
    white-space: nowrap;
}
#flag_i {
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
}
#flag_i:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
#flag_i[data-select="true"] {
    background-color: #cccccc;
    border-radius: 1.25em;
}
#flag_i[data-select="true"]:focus {
    background-color: #aaaaaa;
    border-radius: 0.2em;
}
.chevron {
    margin: 0.5em;
    padding: 0.5em;
    border: none;
    background-color: inherit;
    font-size: 0.5em;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    cursor: pointer;
}
.chevron:disabled {
    color: #cccccc;
}
.chevron:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
