#color {
    display: flex;
}
#color svg {
    cursor: pointer;
}
#color svg:not(:last-child) {
    margin-right: 10px;
}
#color svg.selected {
    border: 1px solid #ced4da;
    border-radius: 5px;
}
#color svg:not(.selected) {
    padding: 1px;
}
