#color {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
#color svg {
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
#color svg.selected {
    opacity: 1;
}
#color svg:not(.selected) {
    opacity: 0.2;
}
