#color {
    display: flex;
    flex-wrap: wrap;
}
#color svg {
    cursor: pointer;
    margin-right: 10px;
    margin-bottom: 10px;
}
#color svg.selected {
    border: 1px solid #ced4da;
    border-radius: 5px;
}
#color svg:not(.selected) {
    padding: 1px;
}
