#container {
    display: flex;
    padding: 0.5em;
}
*:focus {
    outline: 0;
}
#search_wrapper {
    display: flex;
    align-items: center;
    width: 480px;
    font-size: 0.8em;
}
#search {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1em;
    border: 0;
    width: 100%;
}
#count {
    margin-right: 1.2em;
    text-align: right;
    white-space: nowrap;
}
#count.spinner-grow {
    width: 1.6rem;
    color: #aaaaaa;
}
#count.spinner-border {
    width: 1.4rem;
    color: #aaaaaa;
}
#cain {
    font-family: 'Courier New', Courier, monospace;
    margin: 0.5em 0.6em;
    padding: 0.5em 0.9em;
    font-size: 0.7em;
    cursor: pointer;
}
#cain:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
#cain[data-select="true"] {
    background-color: #cccccc;
    border-radius: 1.25em;
}
#cain[data-select="true"]:focus {
    background-color: #aaaaaa;
    border-radius: 0.2em;
}
.chevron {
    margin: 0.5em;
    padding: 0.5em 0.8em;
    border: none;
    background-color: inherit;
    font-size: 0.5em;
    cursor: pointer;
}
.chevron:disabled {
    color: #cccccc;
}
.chevron:focus {
    background-color: #e8e8e8;
    border-radius: 0.2em;
}
